<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let book of books">
    <div class="card h-100">
      <img [src]="book.image" class="card-img-top" alt="{{ book.title }}" />
      <div class="card-body">
        <h5 class="card-title">{{ book.title }}</h5>
        <p class="text-muted">By {{ book.author }}</p>
        <p>{{ book.price | currency }}</p>
        <a class="btn btn-outline-primary" [routerLink]="['/book', book._id]">
          View Details
        </a>
      </div>
    </div>
  </div>
</div>
