
.navbar {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
}

.container {
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.carousel-item {
  transition: opacity 1s ease-in-out; 
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: block; 
}

.carousel-item-next,
.carousel-item-prev {
  opacity: 0; 
}

.carousel-item.active {
  opacity: 1; 
}
.carousel-caption {
  position: absolute;
  bottom: 20px; 
  left: 50%;
  transform: translateX(-50%); 
  text-align: center;
  background: rgba(0, 0, 0, 0.5); 
  padding: 10px; 
  border-radius: 5px; 
}

.carousel-caption h5 {
  font-size: 2rem; 
  color: white; 
}

.carousel-caption p {
  font-size: 1.25rem; 
  color: white; 
}